################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/.vs/BomberManGame/v14
/Library
/UWP
/App/Players
*.dll